*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore
*.apk
*.idsig
!KeyboardHemat-release.apk
!app-release.apk
build_manual/
build/
.build-outputs/
patch*
test_message

